{% extends 'blog/base.html'%}
{% load static %}
{% load post_tag %}
{% block content%}
 
<legend class="border-bottom text-light p-2 mb-3 bg-primary text-right">نشاطات {{type_act.title}}  </legend>
 
{% for act in acts %}
<!-- tag to load page regroup_activities.html -->
{% regroup_activities  act.id %}
{%empty%}
<div class="border p-3 mb-3">
    <h3>لا يوجد نشاط  إذا كان لديك حساب مسجل من قبل يمكنك <a href="{% url 'login' %}">تسجيل الدخول</a> والقيام بنشر
       أول نشاط  .</h3>
   </div>
{% endfor %}
{% include  'blog/pagination.html' with page=acts%}
{% endblock content%}
