<ul class=" list-group list-group-flush pl-3 pr-2 pt-0">
  {% for act in l_acts %}
      <li class="list-group-item p-2 pb-2"><a class="text-dark" href="{% url 'act_detail' act.pk %}">
         
          {% if act.title|length > 40 %}
          <!-- من أجل عرض 44 حرف من التعليق إذا كان التعليق طويل و أكثر من 40 حرف  -->
              {{act.title|slice:'39'}}...

          {% else %}          
                  {{act.title}}        
          {%endif%}
          

          </a></li>
  {%empty%}
  <li class="list-group-item p-2 pb-2"> لاتوجد تعليقات </li>
  {% endfor %}
</ul>