{% extends 'blog/base.html'%}
{% load post_tag %}

{% block content%}

{% if messages %}
{% for message in messages %}

    <div class="alert alert-{{message.tags}}">
        {{message}}
        </div>
   

    {% endfor %}
{% endif %}
                                        {% comment "Optional note" %}
                                        {% if request.user|has_group:"member" %} 
                                        استعمال الفلتر 
                                        <h3>أنا  ضمن الفريق</h3>
                                        {% endif %}

                                        {% endcomment %}

{% for post in posts %}
 <div class="border  p-3 mb-3 "    >
     <img class="img-fluid rounded-circle border  m-2 p-1 " width="70px" src="{{post.author.profile.image.url}}" alt="صورة الناشر">
     <span>نشر في {{post.post_date|date:'d-m-Y'}}</span>
     <h3><a class="text-dark" href="{% url 'detail' post.id %}"> {{post.title}}</a></h3>
     <pre>{{post.content}}</pre>
 </div>
 {%empty%}
 <div class="border p-3 mb-3">
    <h3>لا يوجد تدوينات، إذا كان لديك حساب مسجل من قبل يمكنك <a href="{% url 'login' %}">تسجيل الدخول</a> والقيام بنشر
        أول تدوينة في الموقع.</h3>
</div>
{% endfor %}
{% include  'blog/pagination.html' with page=posts%}
{% endblock content%}