{% load static %}
<!DOCTYPE html>
<html leng="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css'%}">
        <link rel="stylesheet" href="{% static 'blog/css/main.css'%}">
    </head>
    <h1>
    <body>
        <div>
        <i class="fab fa-hubspot"></i> Hello السلام عليكم ورحمة الله و بركاته <i class="fas fa-fighter-jet"></i>!!!
    </div>
</h1>
<h1>
    السلام عليكم ورحمة الله و بركاته
    </h1>
        lglglgl
        <script src="{% static 'blog/js/jquery-3.3.1.slim.min.js'%}"></script>
        <script src="{% static 'blog/js/popper.min.js'%}"></script>
        <script src="{% static 'blog/js/bootstrap.min.js'%}"></script>
        <script src="{% static 'blog/js/fontawesome-all.min.js'%}"></script>
    </body>
</html>