{% extends 'blog/base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block content%}


        <div class="border p-4 mb-5 ">
            <form method="POST" enctype="multipart/form-data">
                <legend class="border-bottom pb-1 mb-4 "> هل أنت متأكد من حذف "{{object.title}}" ؟</legend>

                {% csrf_token %}
                {{form|crispy }}
               
                <button class="btn btn-danger btn-lg mt-4 " type="submit" value="حذف"> 
                متأكد
                <i class="fas fa-trash-alt"></i> </button>
                <a class="btn btn-primary btn-lg mt-4" href="{% url 'detail' object.pk %}"> تراجع  <i class="fas fa-redo-alt"></i>   </a>
            </form>
        </div>
        
                
{% endblock content%}